* {
    box-sizing: border-box;
  }

body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}

#product-overview {
    background: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
}


.section-title {
    color: #2ddf5c;
}


#product-overview h1 {
    color: white;
    font-family: "Anton", sans-serif;
}

h1 {
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 80px);
    vertical-align: middle;
}

.main-nav_item {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.main-nav_item {
    display:  inline-block;
    margin: 0 16px;
}

.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
}

.main-nav_item a:hover {
    color: white;
}

.main-nav_item a:active {
    color: white;
}