.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
        "header header header header"
        "side side main main"
        "footer footer footer footer";
    justify-items: center;
}

/* .el1 {
    background: rgba(255, 154, 72, 0.5);
} */

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-area: main; /* 'main' 영역에 배치 */
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-area: header; /* 'header' 영역에 배치 */
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer; /* 'footer' 영역에 배치 */
}